/* open-sans */
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

/* codecPro */
@font-face {
    font-family: codecPro;
    src: url(../assets/fonts/CodecPro-Regular.ttf);
}

html {
    background-color: #1d2549;
    font-family: codecPro;
    color: #e9e3e8;
}

