@import "index.css";

header {
    display: flex;
    justify-content: right;
}

.cadastroLogin {
    text-decoration: none;
    font-size: 3vw;
    justify-self: right;
    margin-top:1%;
    padding-right: 4%;
}

.cadastroLogin:visited {
    color: #e9e3e8;
}

.cadastroLogin:hover {
    color: red;
}

main {
    display: flex;
    margin: 7% 4% 0% 4%;
    justify-content: space-between;
}

.imgCoracao {
    width: 50%;
}

h1 {
    color: #bdf347;
    font-family: codecPro;
    font-size: 9vw;
    flex-basis: 40%;
    height: 45%;
}

.subTitulo {
    font-size: 2vw;
}

.apresentacao {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13vw;
    justify-content: center;
}

.tituloApresentacao {
    text-align: center;
    font-size: 5vw;
    flex-basis: 58%;
}

.container {
    flex-basis: 58%;
    height: 1vw;
    background-color: #bdf347;
    margin-top: -2vw;
}

.textoApresentacao {
    text-align: justify;
    flex-basis: 80%;
    font-size: 2vw;
    margin-top: 5vw;
}

/* Secao ilustracoesETexto */

.textoAcimaDasIlustracoes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13vw;
    justify-content: center;
}

.tituloIlustracoes {
    margin: 0 5vw 2vw 5vw;
    text-align: center;
    font-size: 5vw;
    flex-basis: 60%;
}


.container2 {
    flex-basis: 35%;
    height: 1vw;
    background-color: #bdf347;
}

/* Ilustracoes */

.ilustracoes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10vw;
}

.imagemDoacao {
    width: 20vw;
    margin: 0 5% 0 5%;
}

.imagemConsumo {
    width: 20vw;
    margin: 0 5% 0 5%;
}

/* Legendas Ilustracoes */

.legendaDoacao {
    width: 50%;
    text-align: center;
    font-size: 3vw;
}

.legendaConsumo {
    width: 50%;
    text-align: center;
    font-size: 3vw;
}

/* Secao FacaParte */

.facaParte {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13vw;
    padding-bottom: 10vw;
    justify-content: center;
}

.tituloFacaParte {
    text-align: center;
    margin: 0 15vw 1vw 15vw;
    font-size: 5vw;
    flex-basis: 38%;
}

.textoFacaParte {
    text-align: justify;
    flex-basis: 80%;
    font-size: 2vw;
    margin-top: 5vw;
}

