/* open-sans */
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

/* codecPro */
@font-face {
    font-family: codecPro;
    src: url(../assets/fonts/CodecPro-Regular.ttf);
}

html {
    background-color: #1d2549;
    font-family: codecPro;
    color: #e9e3e8;
}

header {
    display: flex;
    justify-content: right;
}

.cadastroLogin {
    text-decoration: none;
    font-size: 3vw;
    justify-self: right;
    margin-top:1%;
    padding-right: 4%;
}

.cadastroLogin:visited {
    color: #e9e3e8;
}

.cadastroLogin:hover {
    color: red;
}

main {
    display: flex;
    margin: 11% 4% 0% 4%;
    justify-content: space-between;
}

.imgCoracao {
    width: 50%;
}

h1 {
    color: #bdf347;
    font-family: codecPro;
    font-size: 9vw;
    flex-basis: 40%;
    height: 45%;
}

.subTitulo {
    font-size: 2vw;
}

.apresentacao {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13vw;
    justify-content: center;
}

.tituloApresentacao {
    text-align: center;
    font-size: 5vw;
    flex-basis: 58%;
}

.container {
    flex-basis: 58%;
    height: 1vw;
    background-color: #bdf347;
    margin-top: -2vw;
}

.textoApresentacao {
    text-align: justify;
    flex-basis: 80%;
    font-size: 2vw;
    margin-top: 5vw;
}

/* Sessão ilustracoesETexto */

.ilustracoesETexto {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13vw;
    justify-content: center;
}

.tituloIlustracoes {
    text-align: center;
    font-size: 5vw;
    flex-basis: 70%;
}

.container2 {
    flex-basis: 40%;
    height: 1vw;
    background-color: #bdf347;
    margin-top: -2vw;
}

/* Imagens da sessão ilustracoesETexto */