@import "index.css";

.headerLoginAndRegister {
    display: flex;
    justify-content: flex-start;
}

.headerLoginAndRegister > h4 {
    width: 5%;
    user-select: none;
    margin-top: 1px;
}

.botaoHome:link {
    text-decoration: none;
    color: #bdf347;
}

.botaoHome:visited {
    color: #bdf347; 
}


/* Seção Imagem, nome e botao sair */

.sectionInformacaoUsuarioELogOut {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.imagemENomeGoogle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.h3Google {
    width: 100%;
    text-align: center;
}

.imagemGoogle {
    max-width: 130px;
    width: 50%;
}

.sair {
    display: flex;
    width: 100%;
    justify-content: center;
}

.botaoSairGoogle {
    width: 10%;
    min-width: 50px;
    height: 150%;
    font-size: large;
}

/* main */

.mainLoginAndRegister {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* tabela */


.botaoTableDoacaoDistribuicaoConsumo {
    font-size: calc(0.8em + 1vw);
    font-family: codecPro;
    height: 7vh;
    margin: 1% 1% 0 1%;
    color: #092005;
    background-color: #ffee4c;
}

/* Render Menu */

.renderElement {
    width: 100%;
    margin-top: 4%;
}

/* Render Doações */

.minhasDoacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.h3MinhasDoacoes {
    width: 100%;
    color: #fbe004;
}

.tabelaDoacoesTh {
    border: 1px solid #ffee4c;

}

.incluirDoacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top:10%
}

.h3IncluirDoacao {
    width: 100%;
    color: #fbe004;
}

/* formIncluirDoacao */ 

.formIncluirDoacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formIncluirDoacao > label {
    width:100%;
}

.formIncluirDoacao > label > select {
    margin: 10px;
}

form > label > input{
    margin: 1%;
}

.tabelaDoacoesThNula {
    border: 0;
}

.tabelaDoacoesTdNula {
    width: 1%;
}

.tabelaDoacoesInputButtonX {
    width: 100%;
    min-width: 10px;
}